In [ ]:
!pip install pandasql
import pandas as pd
from pandasql import sqldf

Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.36)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)

# **Importing Products Table**

In [ ]:
# Read the CSV file into a pandas DataFrame
df_products = pd.read_csv('PRODUCTS_TAKEHOME.csv', na_values=['', ' ', 'NA', 'NULL','nan'])

#Inspect Products table
print(df_products.shape)
df_products.info()
df_products.head()

(845552, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  float64
dtypes: float64(1), object(6)
memory usage: 45.2+ MB

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
0,Health & Wellness,Sexual Health,Conductivity Gels & Lotions,NaN,NaN,NaN,7.964944e+11
1,Snacks,Puffed Snacks,Cheese Curls & Puffs,NaN,NaN,NaN,2.327801e+10
2,Health & Wellness,Hair Care,Hair Care Accessories,NaN,PLACEHOLDER MANUFACTURER,ELECSOP,4.618178e+11
3,Health & Wellness,Oral Care,Toothpaste,NaN,COLGATE-PALMOLIVE,COLGATE,3.500047e+10
4,Health & Wellness,Medicines & Treatments,Essential Oils,NaN,MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...,MAPLE HOLISTICS,8.068109e+11

In [ ]:
# Convert BARCODE to string while preserving NaNs
df_products['BARCODE'] = df_products['BARCODE'].astype(str).replace('nan', pd.NA)

# Verifying results
df_products.dtypes

CATEGORY_1      object
CATEGORY_2      object
CATEGORY_3      object
CATEGORY_4      object
MANUFACTURER    object
BRAND           object
BARCODE         object
dtype: object

# **Counting Null values in columns**

In [ ]:
# Total number of rows
total_rows = len(df_products)

# Count of null values in each column
null_counts = df_products.isnull().sum()

# Percentage of null values
null_percentage = (null_counts / total_rows) * 100
formatted_percentage = null_percentage.map('{:.2f}%'.format)

# DataFrame to display results
null_summary = pd.DataFrame({
    'Null Count': null_counts,
    'Null Percentage': formatted_percentage
})

# Summary for the Null records
print(null_summary)

              Null Count Null Percentage
CATEGORY_1           111           0.01%
CATEGORY_2          1424           0.17%
CATEGORY_3         60566           7.16%
CATEGORY_4        778093          92.02%
MANUFACTURER      226474          26.78%
BRAND             226472          26.78%
BARCODE                0           0.00%

Handling duplicate records

In [ ]:
#count duplicate records
print(df_products.duplicated().sum())

215

In [ ]:
#drop duplicate records
df_products= df_products.drop_duplicates()

In [ ]:
df_products.shape

(845337, 7)

# **Importing Users Table**

In [ ]:
# Read the CSV file into a pandas DataFrame
df_user = pd.read_csv('USER_TAKEHOME.csv', dtype = {'ID':str, 'CREATED_DATE':str,'BIRTH_DATE':str}, na_values=['', ' ', 'NA', 'NULL','nan'])

#Inspect User Data
print(df_user.shape)
df_user.head()

(100000, 6)

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female

In [ ]:
df_user.dtypes

ID              object
CREATED_DATE    object
BIRTH_DATE      object
STATE           object
LANGUAGE        object
GENDER          object
dtype: object

# **Updating Column Name**

In [ ]:
# Renaming 'ID' column to 'USER_ID'
df_user.rename(columns={'ID': 'USER_ID'}, inplace=True)
df_user.head()

,USER_ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female

#**Updating Date column types from Object to DateTime**

In [ ]:
# Converting 'created_date' and 'birth_date' to datetime
df_user['CREATED_DATE'] = pd.to_datetime(df_user['CREATED_DATE'], errors='coerce')
df_user['BIRTH_DATE'] = pd.to_datetime(df_user['BIRTH_DATE'], errors='coerce')

# Extracting only the date part
df_user['CREATED_DATE'] = df_user['CREATED_DATE'].dt.normalize()
df_user['BIRTH_DATE'] = df_user['BIRTH_DATE'].dt.normalize()

In [ ]:
df_user.dtypes

USER_ID                      object
CREATED_DATE    datetime64[ns, UTC]
BIRTH_DATE      datetime64[ns, UTC]
STATE                        object
LANGUAGE                     object
GENDER                       object
dtype: object

# **Counting Null values in columns**

In [ ]:
# Total number of rows
total_rows_user = len(df_user)

# Count of null values in each column
null_counts_user = df_user.isnull().sum()

# Percentage of null values
null_percentage_user = (null_counts_user / total_rows_user) * 100
formatted_percentage_user = null_percentage_user.map('{:.2f}%'.format)

# DataFrame to display results
null_summary_user = pd.DataFrame({
    'Null Count': null_counts_user,
    'Null Percentage': formatted_percentage_user
})

# Summary for the Null records
print(null_summary_user)

              Null Count Null Percentage
USER_ID                0           0.00%
CREATED_DATE           0           0.00%
BIRTH_DATE          3675           3.67%
STATE               4812           4.81%
LANGUAGE           30508          30.51%
GENDER              5892           5.89%

In [ ]:
df_user.head()

,USER_ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 00:00:00+00:00,2000-08-11 00:00:00+00:00,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 00:00:00+00:00,2001-09-24 00:00:00+00:00,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 00:00:00+00:00,1994-10-28 00:00:00+00:00,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 00:00:00+00:00,NaT,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 00:00:00+00:00,1972-03-19 00:00:00+00:00,PA,en,female

# **Checking Duplicates Records**

In [ ]:
#count duplicate records
print(df_products.duplicated().sum())

0

# **Creating AGE Column**

In [ ]:
# Ensure 'BIRTH_DATE' is in datetime format and remove timezone awareness
df_user['BIRTH_DATE'] = pd.to_datetime(df_user['BIRTH_DATE'], errors='coerce').dt.tz_localize(None)

# Calculate the age using today's date, ensuring both are timezone-naive
df_user['AGE'] = (pd.Timestamp.now().normalize() - df_user['BIRTH_DATE']).dt.days // 365

# Handle NaN values in 'AGE' by filling with -1
df_user['AGE'].fillna(-1, inplace=True)

# Convert 'AGE' to integer
df_user['AGE'] = df_user['AGE'].astype(int)

                        USER_ID              CREATED_DATE BIRTH_DATE STATE  \
0      5ef3b4f17053ab141787697d 2020-06-24 00:00:00+00:00 2000-08-11    CA
1      5ff220d383fcfc12622b96bc 2021-01-03 00:00:00+00:00 2001-09-24    PA
2      6477950aa55bb77a0e27ee10 2023-05-31 00:00:00+00:00 1994-10-28    FL
3      658a306e99b40f103b63ccf8 2023-12-26 00:00:00+00:00        NaT    NC
4      653cf5d6a225ea102b7ecdc2 2023-10-28 00:00:00+00:00 1972-03-19    PA
...                         ...                       ...        ...   ...
99995  61fc06d41febf771966da8fa 2022-02-03 00:00:00+00:00 1992-03-16    CA
99996  6391e7ef90ad5449ec5f782d 2022-12-08 00:00:00+00:00 1993-09-23    MO
99997  637d5efdd6f2a49c49934dcb 2022-11-22 00:00:00+00:00 1983-04-19    RI
99998  5f0de23b05d8a6147dc0cafa 2020-07-14 00:00:00+00:00 1995-06-09    DE
99999  5e7ab436905e9512ff44abc8 2020-03-25 00:00:00+00:00 1995-12-15    VA

      LANGUAGE  GENDER  AGE
0       es-419  female   24
1           en  female   23
2       es-419  female   30
3           en     NaN   -1
4           en  female   52
...        ...     ...  ...
99995       en  female   32
99996       en  female   31
99997       en  female   41
99998       en  female   29
99999      NaN  female   28

[100000 rows x 7 columns]

<ipython-input-135-841275d7f681>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_user['AGE'].fillna(-1, inplace=True)

# **Checking Column Uniqueness**

In [ ]:
df_user['GENDER'].nunique()

11

In [ ]:
df_user['GENDER'].unique()

array(['female', nan, 'male', 'non_binary', 'transgender',
       'prefer_not_to_say', 'not_listed', 'Non-Binary', 'unknown',
       'not_specified', "My gender isn't listed", 'Prefer not to say'],
      dtype=object)

# **Standardizing Gender Column Values**

In [ ]:
# Standardizing gender values
df_user['GENDER'] = df_user['GENDER'].replace({
    'Non-Binary': 'non_binary',
    'Prefer not to say': 'prefer_not_to_say',
    'My gender isn\'t listed': 'not_specified',
    'not_listed': 'not_specified',
})
# Replace NaN values with 'unknown'
df_user['GENDER'] = df_user['GENDER'].fillna('unknown')

# Display the updated DataFrame
df_user['GENDER'].unique()

array(['female', 'unknown', 'male', 'non_binary', 'transgender',
       'prefer_not_to_say', 'not_specified'], dtype=object)

In [ ]:
df_user['STATE'].nunique()

52

In [ ]:
df_user['STATE'].unique()

array(['CA', 'PA', 'FL', 'NC', 'NY', 'IN', nan, 'OH', 'TX', 'NM', 'PR',
       'CO', 'AZ', 'RI', 'MO', 'NJ', 'MA', 'TN', 'LA', 'NH', 'WI', 'IA',
       'GA', 'VA', 'DC', 'KY', 'SC', 'MN', 'WV', 'DE', 'MI', 'IL', 'MS',
       'WA', 'KS', 'CT', 'OR', 'UT', 'MD', 'OK', 'NE', 'NV', 'AL', 'AK',
       'AR', 'HI', 'ME', 'ND', 'ID', 'WY', 'MT', 'SD', 'VT'], dtype=object)

In [ ]:
# Replace NaN values with 'unknown'
df_user['STATE'] = df_user['STATE'].fillna('unknown')

# Display the updated DataFrame
df_user['STATE'].unique()

array(['CA', 'PA', 'FL', 'NC', 'NY', 'IN', 'unknown', 'OH', 'TX', 'NM',
       'PR', 'CO', 'AZ', 'RI', 'MO', 'NJ', 'MA', 'TN', 'LA', 'NH', 'WI',
       'IA', 'GA', 'VA', 'DC', 'KY', 'SC', 'MN', 'WV', 'DE', 'MI', 'IL',
       'MS', 'WA', 'KS', 'CT', 'OR', 'UT', 'MD', 'OK', 'NE', 'NV', 'AL',
       'AK', 'AR', 'HI', 'ME', 'ND', 'ID', 'WY', 'MT', 'SD', 'VT'],
      dtype=object)

# **Checking Age Distribution**

In [ ]:
bins = [0, 18, 35, 45, 55, 65, 75, 85, 95, 105, 120]  # Bin edges
labels = ['0-18', '19-35', '36-45', '46-55', '56-65', '66-75', '76-85', '86-95', '96-105', '106-120']  # Labels for bins

# Creating a new column for age categories
df_user['AGE_CATEGORY'] = pd.cut(df_user['AGE'], bins=bins, labels=labels, right=False)

# Counting user IDs in each age category
age_distribution = df_user['AGE_CATEGORY'].value_counts()

# Display the distribution
print(age_distribution)

# Get the age category with the maximum count
max_age_category = age_distribution.idxmax()
max_count = age_distribution.max()

print(f"The age category with the maximum count of user IDs is '{max_age_category}' with {max_count} users.")

AGE_CATEGORY
19-35      37920
36-45      23261
46-55      15670
56-65      10466
66-75       5125
0-18        2426
76-85       1253
86-95        130
106-120       30
96-105        21
Name: count, dtype: int64
The age category with the maximum count of user IDs is '19-35' with 37920 users.

# **Importing Transaction Table**

In [ ]:
# Read the CSV file into a pandas DataFrame
df_transaction = pd.read_csv('TRANSACTION_TAKEHOME.csv', na_values=['', ' ', 'NA', 'NULL','nan'])
df_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      37500 non-null  float64
dtypes: float64(2), object(6)
memory usage: 3.1+ MB

# **Updating Data Type**

In [ ]:
df_transaction['FINAL_QUANTITY'].replace(['zero', ''], 'NaN')
df_transaction['FINAL_QUANTITY'] = pd.to_numeric(df_transaction['FINAL_QUANTITY'], errors='coerce')

df_transaction['FINAL_SALE'].replace([''], '0')
df_transaction['FINAL_SALE'] = pd.to_numeric(df_transaction['FINAL_SALE'], errors='coerce')

df_transaction['PURCHASE_DATE'] = pd.to_datetime(df_transaction['PURCHASE_DATE'])

df_transaction['SCAN_DATE'] = pd.to_datetime(df_transaction['SCAN_DATE'])

# Convert BARCODE column to numeric (with NaNs)
df_transaction['BARCODE'] = pd.to_numeric(df_transaction['BARCODE'], errors='coerce')

# Convert to string while preserving NaNs
df_transaction['BARCODE'] = df_transaction['BARCODE'].astype(str).replace('nan', pd.NA)

df_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  datetime64[ns]
 2   SCAN_DATE       50000 non-null  datetime64[ns, UTC]
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  object
 6   FINAL_QUANTITY  37500 non-null  float64
 7   FINAL_SALE      37500 non-null  float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(2), object(4)
memory usage: 3.1+ MB

# **Checking for Null Values in Columns**

In [ ]:
# Total number of rows
total_rows_trans = len(df_transaction)

# Count of null values in each column
null_counts_trans = df_transaction.isnull().sum()

# Percentage of null values
null_percentage_trans = (null_counts_trans/ total_rows_trans) * 100
formatted_percentage_trans = null_percentage_trans.map('{:.2f}%'.format)

# DataFrame to display results
null_summary_trans = pd.DataFrame({
    'Null Count': null_counts_trans,
    'Null Percentage': formatted_percentage_trans
})

# Summary for the Null records
print(null_summary_trans)

                Null Count Null Percentage
RECEIPT_ID               0           0.00%
PURCHASE_DATE            0           0.00%
SCAN_DATE                0           0.00%
STORE_NAME               0           0.00%
USER_ID                  0           0.00%
BARCODE               5762          11.52%
FINAL_QUANTITY       12500          25.00%
FINAL_SALE           12500          25.00%

Drop rows where both FINAL_SALE and FINAL_QUANTITY are missing permanently, if any

In [ ]:
df_transaction.dropna(subset=['FINAL_SALE', 'FINAL_QUANTITY'], how='all', inplace=True)

In [ ]:
df_transaction.shape

(50000, 8)

In [ ]:
df_transaction[df_transaction['RECEIPT_ID']=='eb8b58c3-182a-4623-8492-0b8231b85135']

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
22934,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,1.0,NaN
22935,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,NaN,1.68
22936,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,1.0,NaN
42839,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,1.0,1.68
42840,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,1.0,1.68
42841,eb8b58c3-182a-4623-8492-0b8231b85135,2024-09-07,2024-09-07 13:25:13.203000+00:00,WALMART,6612d57d940386b19ee22088,888109010089.0,1.0,1.68

# **Fill missing Final Quantity and Sales based on the average price per unity by Reciept ID and Barcode**

In [ ]:
# Dropping records with NaN in sales and quantity
price_per_unit_df = df_transaction.dropna(subset=['FINAL_QUANTITY', 'FINAL_SALE']).copy()

# Calculating the average price per unit for each barcode and receipt_id
avg_price_per_barcode = (
    price_per_unit_df
    .groupby(['BARCODE', 'RECEIPT_ID'], as_index=False)
    .agg(avg_price=('FINAL_SALE', lambda x: x.sum() / price_per_unit_df.loc[x.index, 'FINAL_QUANTITY'].sum()))
)

# Merge average price back to the original DataFrame
df_transaction = df_transaction.merge(avg_price_per_barcode, on=['BARCODE', 'RECEIPT_ID'], how='left')

# Checking if avg_price column exists
if 'avg_price' in df_transaction.columns:
    # Fill missing FINAL_QUANTITY
    mask_quantity = df_transaction['FINAL_QUANTITY'].isna() & df_transaction['FINAL_SALE'].notna()
    df_transaction.loc[mask_quantity, 'FINAL_QUANTITY'] = df_transaction['FINAL_SALE'] / df_transaction['avg_price']

    # Fill missing FINAL_SALE
    mask_sale = df_transaction['FINAL_SALE'].isna() & df_transaction['FINAL_QUANTITY'].notna()
    df_transaction.loc[mask_sale, 'FINAL_SALE'] = df_transaction['FINAL_QUANTITY'] * df_transaction['avg_price']
else:
    print("avg_price column not found after merging.")

# dropping the average price column
df_transaction.drop(columns=['avg_price'], inplace=True, errors='ignore')

# Updated DataFrame
print("Updated Transaction DataFrame:")
print(df_transaction)

Updated Transaction DataFrame:
                                 RECEIPT_ID PURCHASE_DATE  \
0      0000d256-4041-4a3e-adc4-5623fb6e0c99    2024-08-21
1      0001455d-7a92-4a7b-a1d2-c747af1c8fd3    2024-07-20
2      00017e0a-7851-42fb-bfab-0baa96e23586    2024-08-18
3      000239aa-3478-453d-801e-66a82e39c8af    2024-06-18
4      00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1    2024-07-04
...                                     ...           ...
49995  b5cd61a9-8033-4913-a5c4-fb3f65e3a321    2024-08-21
49996  e1b2f634-c9ad-4152-b662-4b22efc25862    2024-08-11
49997  b07ef8dd-e444-40a2-819b-f74a3e5f1ae7    2024-07-11
49998  42475141-bef4-4df2-aa37-72577e2512bb    2024-06-18
49999  3a179c4e-46f2-4126-b3d2-3514afc23a3e    2024-08-07

                             SCAN_DATE     STORE_NAME  \
0     2024-08-21 14:19:06.539000+00:00        WALMART
1     2024-07-20 09:50:24.206000+00:00           ALDI
2     2024-08-19 15:38:56.813000+00:00        WALMART
3     2024-06-19 11:03:37.468000+00:00      FOOD LION
4     2024-07-05 15:56:43.549000+00:00       RANDALLS
...                                ...            ...
49995 2024-08-31 14:13:08.634000+00:00         TARGET
49996 2024-08-11 18:15:56.736000+00:00    STOP & SHOP
49997 2024-07-11 08:03:25.816000+00:00        WALMART
49998 2024-06-18 19:57:32.211000+00:00  MARKET BASKET
49999 2024-08-07 15:30:07.911000+00:00        WALMART

                        USER_ID         BARCODE  FINAL_QUANTITY  FINAL_SALE
0      63b73a7f3d310dceeabd4758   15300014978.0             1.0        1.54
1      62c08877baa38d1a1f6c211a            <NA>             NaN        1.49
2      60842f207ac8b7729e472020   78742229751.0             1.0        2.54
3      63fcd7cea4f8442c3386b589  783399746536.0             1.0        3.49
4      6193231ae9b3d75037b0f928   47900501183.0             1.0        5.29
...                         ...             ...             ...         ...
49995  6154bcf098f885648de2f299   85239110669.0             2.0        1.18
49996  60aa809f188b926b2244c974   46100400555.0             1.0        2.00
49997  60bd26e83dc3b13a15c5f4e7  646630019670.0             1.0       20.96
49998  6169912fac47744405af62b7   41800501519.0             1.0        3.00
49999  64e94d64ca929250373ef6e1  307660745853.0             1.0        5.48

[50000 rows x 8 columns]

# **SQL Queries**

Closed-ended questions:

**What are the top 5 brands by receipts scanned among users 21 and over?**

NERDS CANDY, DOVE, TRIDENT, SOUR PATCH KIDS and MEIJER are the top 5 brands amoung user above the age of 21.

In [ ]:
sql_query_top_5_brands= "Select p.BRAND, COUNT(t.RECEIPT_ID) as RECEIPT_SCANNED FROM df_user u JOIN df_transaction t on u.USER_ID = t.USER_ID JOIN df_products p on t.BARCODE=p.BARCODE where u.AGE>=21 and p.BRAND != '' GROUP BY 1 ORDER BY RECEIPT_SCANNED DESC LIMIT 5"

filtered_df = sqldf(sql_query_top_5_brands, locals())
print(filtered_df)

             BRAND  RECEIPT_SCANNED
0      NERDS CANDY                6
1             DOVE                6
2          TRIDENT                4
3  SOUR PATCH KIDS                4
4           MEIJER                4

**What are the top 5 brands by sales among users that have had their account for at least six months?**

CVS,TRIDENT,DOVE,COORS LIGHT and AXE drives highest sales respectively

In [ ]:
sql_query_top_brands_six_month_old = "select BRAND, sum(final_sale) final_sale from (select p.BRAND,t.BARCODE, t.USER_ID, t.FINAL_SALE,u.CREATED_DATE from df_products p join df_transaction t on p.BARCODE = t.BARCODE join df_user u on t.USER_ID = u.USER_ID where u.CREATED_DATE <= DATE('now', '-6 months') ) t1 where BRAND != '' group by 1 order by final_sale desc limit 5"

# Execute the query

filtered_df = sqldf(sql_query_top_brands_six_month_old , locals())
print(filtered_df)

         BRAND  final_sale
0          CVS       72.00
1      TRIDENT       46.72
2         DOVE       42.88
3  COORS LIGHT       34.96
4          AXE       15.98

**What is the percentage of sales in the Health & Wellness category by generation?**

Baby Boomers bring highest pecent of sales in Health and Wellness category.

In [ ]:
percentage_of_sales = "with total_HW_sales as (select category_1, sum(final_sale) total_sales from df_products join df_transaction using(BARCODE) where category_1 = 'Health & Wellness' group by 1 ),sales_by_gen AS (SELECT CASE WHEN u.AGE BETWEEN 18 AND 25 THEN 'Gen Z' WHEN u.AGE BETWEEN 26 AND 40 THEN 'Millennials' WHEN u.AGE BETWEEN 41 AND 56 THEN 'Gen X' WHEN u.AGE BETWEEN 57 AND 75 THEN 'Baby Boomers'ELSE 'Silent Generation' END AS generation, SUM(t.FINAL_SALE) AS FINAL_SALE FROM df_products p JOIN df_transaction t ON p.BARCODE = t.BARCODE JOIN df_user u ON t.USER_ID = u.USER_ID WHERE p.CATEGORY_1 = 'Health & Wellness' GROUP BY generation)SELECT generation as GENERATION, ROUND((FINAL_SALE / total_HW_sales.total_sales) * 100, 2) || '%' AS PERCENTAGE_OF_SALES FROM sales_by_gen, total_HW_sales "
filtered_df = sqldf(percentage_of_sales, locals())
print(filtered_df)

          GENERATION PERCENTAGE_OF_SALES
0       Baby Boomers               0.22%
1              Gen X               0.14%
2        Millennials               0.09%
3  Silent Generation                0.0%

**Open-ended questions:**

**Which is the leading brand in the Dips & Salsa category?**

TOSTITOS is the leasding brand in Dips & Salsa category.

In [ ]:
leading_dips_salsa = "SELECT p.CATEGORY_2 as CATEGORY, p.BRAND, sum(t.FINAL_SALE) FINAL_SALE FROM df_transaction t join df_products p using(BARCODE) where p.CATEGORY_2 = 'Dips & Salsa' and (BRAND is not null and BRAND != '') group by 1,2 Order by FINAL_SALE DESC limit 1"
filtered_df = sqldf(leading_dips_salsa, locals())
print(filtered_df)

       CATEGORY     BRAND  FINAL_SALE
0  Dips & Salsa  TOSTITOS      260.99

**At what percent has Fetch grown year over year?**

From the data in the year 2023 and till September 2024 Fetch has seen decline in accounts created by users

In [ ]:
yoy_growth = "WITH yearly_accounts AS (SELECT STRFTIME('%Y', CREATED_DATE) AS year, COUNT(USER_ID) AS accounts_created FROM df_user WHERE CREATED_DATE IS NOT NULL GROUP BY year ORDER BY year ASC) SELECT year, accounts_created, (accounts_created - LAG(accounts_created) OVER (ORDER BY year)) AS difference, (100.0 * (accounts_created - LAG(accounts_created) OVER (ORDER BY year)) / LAG(accounts_created) OVER (ORDER BY year)) AS yoy_growth FROM yearly_accounts"
filtered_df = sqldf(yoy_growth, locals())
print(filtered_df)

    year  accounts_created  difference  yoy_growth
0   2014                30         NaN         NaN
1   2015                51        21.0   70.000000
2   2016                70        19.0   37.254902
3   2017               644       574.0  820.000000
4   2018              2168      1524.0  236.645963
5   2019              7093      4925.0  227.167897
6   2020             16883      9790.0  138.023403
7   2021             19159      2276.0   13.481016
8   2022             26807      7648.0   39.918576
9   2023             15464    -11343.0  -42.313575
10  2024             11631     -3833.0  -24.786601